@use "../mixins";
.article {
    position: absolute;
    width: 1180px;
    top:-128px;
    left:calc(50% - 590px);
    padding: 58px 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -2px 8px 54px -14px rgba(0,0,0,0.68);
    -webkit-box-shadow: -2px 8px 54px -14px rgba(0,0,0,0.68);
    &__wrapper {
        @include mixins.display($x:space-between,$y:center);
    }
    &__innerdiv {
        width: 371px;
        
    }
    &__title {
        margin: 0;
        margin-bottom: 20px;
        color: #0b132a;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 128.571% */
    }
    &__desc {
        margin: 0;
        color: #4f5665;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
    }
    &__link {
        text-decoration: none;
        min-width: 250px;
        padding: 18px 65px;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(245, 56, 56);
        color: #fff;
        font-weight: 700;
        line-height: 25px;
        box-shadow: -4px 117px 206px -39px rgba(245,56,56,0.56);
        -webkit-box-shadow: -4px 117px 206px -39px rgba(245,56,56,0.56);
        -moz-box-shadow: -4px 117px 206px -39px rgba(245,56,56,0.56);
    }
}