@use "../mixins";
.site-header {
  padding-top: 50px;
  padding-bottom: 78px;
  &__wrapper {
    @include mixins.display($x:space-between,$y:center)
  }
  &__list {
    @include mixins.unstyled-list($col:40px);
  }
  &__second-list {
    @include mixins.unstyled-list($col:30px);
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: #4f5665;
    font-size: 16px;
  }
  &__second-link {
    text-decoration: none;
    color: #0b132a;
    font-weight: 500;
    line-height: normal;
  }
  &__second-link--red {
    min-width: 150px;
    padding: 13px 45px;
    color: #f53855;
    border: 1px solid #f53855;
    border-radius: 50px;
  }
}